NEXT_PUBLIC_SUPABASE_URL=https://pghipeagcnoqpdhfajrw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBnaGlwZWFnY25vcXBkaGZhanJ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NTQ4NjcsImV4cCI6MjA5MTEzMDg2N30.W-A3cV-lSh9qZ7xiB6-i9rf1flSwgjAkYyaYgMLY2Zk
BACKEND_URL=http://localhost:8000
